In [1]:
import pymysql
from sqlalchemy import create_engine, text
import seaborn as sns
from sqlalchemy import create_engine
conn = create_engine("mysql+pymysql://root:1100@localhost:3306/donga")
import pandas as pd

In [2]:
gapminder = pd.read_csv("https://raw.githubusercontent.com/OHI-Science/data-science-training/master/data/gapminder.csv")

In [3]:
gapminder = gapminder.iloc[:,:4]

In [4]:
gapminder.country = gapminder.country.str.replace("'","")

In [5]:
data = gapminder.to_dict('records')

In [7]:
conn.execute(text("drop table world"))
create_stmt = """
create table world(
country varchar(100),
year varchar(10),
pop varchar(20),
continent varchar(20));
"""
conn.execute(text(create_stmt))

In [8]:
stmt = "select * from world"
pd.read_sql(stmt,conn)

Empty DataFrame
Columns: [country, year, pop, continent]
Index: []

In [9]:
dt = []
for i in data:
    country = i['country']
    year = i['year']
    pop = i['pop']
    continent = i['continent']
    stmt = f"insert into world(country,year,pop,continent) values('{country}','{year}','{pop}','{continent}')"
    dt.append(stmt)

In [10]:
for row in dt:
    try:
        conn.execute(text(row))
    except:
        pass

In [11]:
pd.read_sql('select * from world',conn)

          country  year         pop continent
0     Afghanistan  1952   8425333.0      Asia
1     Afghanistan  1957   9240934.0      Asia
2     Afghanistan  1962  10267083.0      Asia
3     Afghanistan  1967  11537966.0      Asia
4     Afghanistan  1972  13079460.0      Asia
...           ...   ...         ...       ...
1699     Zimbabwe  1987   9216418.0    Africa
1700     Zimbabwe  1992  10704340.0    Africa
1701     Zimbabwe  1997  11404948.0    Africa
1702     Zimbabwe  2002  11926563.0    Africa
1703     Zimbabwe  2007  12311143.0    Africa

[1704 rows x 4 columns]

In [13]:
conn.execute(text("drop table world"))
create_stmt = """
create table world(
country varchar(100),
year varchar(20),
pop varchar(20),
continent varchar(50)
);
"""
conn.execute(text(create_stmt))

In [14]:
pd.read_sql("select * from world",conn)

Empty DataFrame
Columns: [country, year, pop, continent]
Index: []

In [15]:
stmt = dt[0]
conn.execute(text(stmt))

In [20]:
protocol = 'mysql+pymysql://'
user = 'root'
password = '1100'
host = 'localhost'
port = '3306'
database = 'donga'

In [21]:
conn_str = protocol+user+':'+password+'@'+host+':'+port+'/'+database
conn_str
conn = create_engine(conn_str)

In [22]:
import pandas as pd

In [23]:
sql_stmt = """
select *
from donga_table;
"""
pd.read_sql(sql_stmt,conn)

ProgrammingError: (pymysql.err.ProgrammingError) (1146, "Table 'donga.donga_table' doesn't exist")
[SQL:
select *
from donga_table;
]
(Background on this error at: https://sqlalche.me/e/14/f405)