In [66]:
import folium

In [67]:
import numpy as np
import pandas as pd
import seaborn as sns

In [68]:
df = sns.load_dataset('titanic')

In [69]:
df.isna().sum()

survived         0
pclass           0
sex              0
age            177
sibsp            0
parch            0
fare             0
embarked         2
class            0
who              0
adult_male       0
deck           688
embark_town      2
alive            0
alone            0
dtype: int64

In [70]:
df.info

<bound method DataFrame.info of      survived  pclass     sex   age  sibsp  parch     fare embarked   class  \
0           0       3    male  22.0      1      0   7.2500        S   Third
1           1       1  female  38.0      1      0  71.2833        C   First
2           1       3  female  26.0      0      0   7.9250        S   Third
3           1       1  female  35.0      1      0  53.1000        S   First
4           0       3    male  35.0      0      0   8.0500        S   Third
..        ...     ...     ...   ...    ...    ...      ...      ...     ...
886         0       2    male  27.0      0      0  13.0000        S  Second
887         1       1  female  19.0      0      0  30.0000        S   First
888         0       3  female   NaN      1      2  23.4500        S   Third
889         1       1    male  26.0      0      0  30.0000        C   First
890         0       3    male  32.0      0      0   7.7500        Q   Third

       who  adult_male deck  embark_town alive  alone
0      man        True  NaN  Southampton    no  False
1    woman       False    C    Cherbourg   yes  False
2    woman       False  NaN  Southampton   yes   True
3    woman       False    C  Southampton   yes  False
4      man        True  NaN  Southampton    no   True
..     ...         ...  ...          ...   ...    ...
886    man        True  NaN  Southampton    no   True
887  woman       False    B  Southampton   yes   True
888  woman       False  NaN  Southampton    no  False
889    man        True    C    Cherbourg   yes   True
890    man        True  NaN   Queenstown    no   True

[891 rows x 15 columns]>

In [71]:
df.loc[df.embark_town.isna(),:]

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
61,1,1,female,38.0,0,0,80.0,NaN,First,woman,False,B,NaN,yes,True
829,1,1,female,62.0,0,0,80.0,NaN,First,woman,False,B,NaN,yes,True

In [72]:
df.deck.value_counts(dropna=False)

NaN    688
C       59
B       47
D       33
E       32
A       15
F       13
G        4
Name: deck, dtype: int64

In [73]:
~df.deck.isna()
df.deck.isna()

0       True
1      False
2       True
3      False
4       True
       ...
886     True
887    False
888     True
889    False
890     True
Name: deck, Length: 891, dtype: bool

In [74]:
np.around(df.isna().sum().sort_values()[::-1]/df.shape[0],2)

deck           0.77
age            0.20
embark_town    0.00
embarked       0.00
alone          0.00
alive          0.00
adult_male     0.00
who            0.00
class          0.00
fare           0.00
parch          0.00
sibsp          0.00
sex            0.00
pclass         0.00
survived       0.00
dtype: float64

In [75]:
raw_df = df.copy()
raw_df.shape

(891, 15)

In [76]:
## row 지운다
df = df.loc[~df.deck.isna(),:]

In [77]:
df.isna().sum().sort_values()[::-1]

age            19
embark_town     2
embarked        2
alone           0
alive           0
deck            0
adult_male      0
who             0
class           0
fare            0
parch           0
sibsp           0
sex             0
pclass          0
survived        0
dtype: int64

In [78]:
df.shape[0]/raw_df.shape[0]

0.22783389450056116

In [79]:
df = raw_df.copy()

In [80]:
df.drop(columns=['deck']).isna().sum()

survived         0
pclass           0
sex              0
age            177
sibsp            0
parch            0
fare             0
embarked         2
class            0
who              0
adult_male       0
embark_town      2
alive            0
alone            0
dtype: int64

In [81]:
df.isna().sum()

survived         0
pclass           0
sex              0
age            177
sibsp            0
parch            0
fare             0
embarked         2
class            0
who              0
adult_male       0
deck           688
embark_town      2
alive            0
alone            0
dtype: int64

In [82]:
df.age.dropna()

0      22.0
1      38.0
2      26.0
3      35.0
4      35.0
       ...
885    39.0
886    27.0
887    19.0
889    26.0
890    32.0
Name: age, Length: 714, dtype: float64

In [83]:
df.shape

(891, 15)

In [84]:
df.drop(columns=['deck'],inplace=True)

In [85]:
df.age.dropna(inplace=True)

In [86]:
df.age.dropna().size

714

In [87]:
df.dropna(thresh=10,axis=1)

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,Southampton,no,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,0,2,male,27.0,0,0,13.0000,S,Second,man,True,Southampton,no,True
887,1,1,female,19.0,0,0,30.0000,S,First,woman,False,Southampton,yes,True
888,0,3,female,NaN,1,2,23.4500,S,Third,woman,False,Southampton,no,False
889,1,1,male,26.0,0,0,30.0000,C,First,man,True,Cherbourg,yes,True
890,0,3,male,32.0,0,0,7.7500,Q,Third,man,True,Queenstown,no,True

In [88]:
df = embarked[df.embarked.isna()].index
df.drop(index=df.embarked[df.embarked.isna()].index,inplace=True)

NameError: name 'embarked' is not defined

In [91]:
df = pd.DataFrame()

In [92]:
df['c1'] = ['a','a','b','a','b']
df['c2'] = [1,1,1,2,2]
df['c3'] = [1,1,2,2,2]

In [93]:
df.loc[5] = ['a',1,1]

In [94]:
~df.duplicated(keep = 'last')

0    False
1    False
2     True
3     True
4     True
5     True
dtype: bool

In [96]:
df.iloc[0,:] == df.iloc[1,:]
df.iloc[0,:] == df.iloc[2,:]

c1    False
c2     True
c3    False
dtype: bool

In [97]:
df.duplicated()

0    False
1     True
2    False
3    False
4    False
5     True
dtype: bool

In [100]:
sum(df.iloc[0,:] == df.iloc[1,:]) == df.shape[1]
sum(df.iloc[0,:] == df.iloc[2,:]) == df.shape[1]
sum(df.iloc[0,:] == df.iloc[3,:]) == df.shape[1]
sum(df.iloc[0,:] == df.iloc[4,:]) == df.shape[1]
sum(df.iloc[0,:] == df.iloc[5,:]) == df.shape[1]
sum(df.iloc[1,:] == df.iloc[2,:]) == df.shape[1]
sum(df.iloc[1,:] == df.iloc[3,:]) == df.shape[1]
sum(df.iloc[1,:] == df.iloc[4,:]) == df.shape[1]
sum(df.iloc[1,:] == df.iloc[5,:]) == df.shape[1]
sum(df.iloc[1,:] == df.iloc[3,:]) == df.shape[1]
sum(df.iloc[2,:] == df.iloc[4,:]) == df.shape[1]
sum(df.iloc[2,:] == df.iloc[5,:]) == df.shape[1]
sum(df.iloc[2,:] == df.iloc[5,:]) == df.shape[1]
sum(df.iloc[3,:] == df.iloc[4,:]) == df.shape[1]
sum(df.iloc[3,:] == df.iloc[5,:]) == df.shape[1]
sum(df.iloc[4,:] == df.iloc[5,:]) == df.shape[1]

False

In [101]:
df.shape[0]

6

In [116]:
# for i in range(df.shape[0]):
#     for j in range(i+1, df.shape[0]):
#         if sum(df.iloc[i,:] == df.iloc[j,:]) != df.shape[1]:
#             print("Row", i, "is different from row", j)
# gpt가 만들어준 코드
def my_duplicate(df,keep='first'):
    keep = 'first'
    dup = []
    for i in range(df.shape[0]-1):
        for j in range(df.shape[0]-i-1):
             if sum(df.iloc[i,:] == df.iloc[j+i+1,:]) == df.shape[1]:
                first = i
                last = j+i+1
                if keep == 'first':
                    dup.append(last)
                else:
                    dup.append(first)
    dup = np.unique(dup)
    result = np.full(df.shape[0],False)
    result[dup] = True
    return result

In [117]:
df.loc[~my_duplicate(df,keep='last'),:]

  c1  c2  c3
0  a   1   1
2  b   1   2
3  a   2   2
4  b   2   2

In [118]:
raw_df ==np.nan

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
887,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
888,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
889,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
890,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [119]:
# a = np.array([1,2,np.nan])

In [120]:
# a
# 이거는 왜 틀렸냐

array([ 1.,  2., nan])

In [148]:
import sklearn

In [149]:
from sklearn.preprocessing import StandardScaler
from sklearn import datasets

In [150]:
dir(datasets)

['__all__',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__path__',
 '__spec__',
 '_base',
 '_california_housing',
 '_covtype',
 '_kddcup99',
 '_lfw',
 '_olivetti_faces',
 '_openml',
 '_rcv1',
 '_samples_generator',
 '_species_distributions',
 '_svmlight_format_fast',
 '_svmlight_format_io',
 '_twenty_newsgroups',
 'clear_data_home',
 'data',
 'descr',
 'dump_svmlight_file',
 'fetch_20newsgroups',
 'fetch_20newsgroups_vectorized',
 'fetch_california_housing',
 'fetch_covtype',
 'fetch_kddcup99',
 'fetch_lfw_pairs',
 'fetch_lfw_people',
 'fetch_olivetti_faces',
 'fetch_openml',
 'fetch_rcv1',
 'fetch_species_distributions',
 'get_data_home',
 'load_boston',
 'load_breast_cancer',
 'load_diabetes',
 'load_digits',
 'load_files',
 'load_iris',
 'load_linnerud',
 'load_sample_image',
 'load_sample_images',
 'load_svmlight_file',
 'load_svmlight_files',
 'load_wine',
 'make_biclusters',
 'make_blobs',
 'make_checkerboard',
 'make_circles',
 'make_classification',
 'make_friedman1',
 'make_friedman2',
 'make_friedman3',
 'make_gaussian_quantiles',
 'make_hastie_10_2',
 'make_low_rank_matrix',
 'make_moons',
 'make_multilabel_classification',
 'make_regression',
 'make_s_curve',
 'make_sparse_coded_signal',
 'make_sparse_spd_matrix',
 'make_sparse_uncorrelated',
 'make_spd_matrix',
 'make_swiss_roll']

In [151]:
data = datasets.load_iris()

In [152]:
data.keys()
data = pd.DataFrame(data['data'],columns=data['feature_names'])

In [153]:
sc = StandardScaler()
sc.fit(df)

ValueError: could not convert string to float: 'a'

In [144]:
sc.transform(df).shape

ValueError: could not convert string to float: 'a'

In [145]:
np.max(df.values) - np.min(df.values)

TypeError: '>=' not supported between instances of 'str' and 'int'

In [146]:
np.max(sc.transform(df)) - np.min(sc.transform(df))

ValueError: could not convert string to float: 'a'

In [ ]:
아니 ㅅ발